<div class="h-100">
  <div class="d-flex min-vh-100 justify-content-center align-items-center h-100">
    <div class="card">
      <div class="card-header">
        <h2>Set Reminder</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="reminderForm" class="form-row">
          <div class="form-group col-md-12">
            <label for="reminderName">Reminder *</label>
            <input type="text" class="form-control" formControlName="reminderName" required />
            <div *ngIf="reminderFormControl.reminderName.invalid && (reminderFormControl.reminderName.dirty || reminderFormControl.reminderName.touched)" class="alert alert-danger">
              <div *ngIf="reminderFormControl.reminderName.errors.required">
                Reminder Title is required.
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="reminderName">Date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" formControlName="reminderdateonly" ngbDatepicker #d="ngbDatepicker" [markDisabled]="isDisabled">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><fa-icon [icon]="faCalender"></fa-icon></button>
              </div>
              <ngb-timepicker formControlName="reminderTime" style="margin-left: 10px;"></ngb-timepicker>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="hours">No. of Days</label>
            <div class="row">
              <div class="col-md-6">
                <input type="text" [formControl]="noOfDays" class="form-control" />
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-block" (click)="dateAdd()">Add</button>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label for="reminderName">Message</label>
            <textarea maxlength="250" class="form-control" formControlName="reminderMessage"></textarea>
          </div>
          <div class="form-group col-md-12">
            <button type="button" class="btn btn-primary" (click)="saveReminder()" [disabled]="reminderForm.invalid">Set Reminder</button>
          </div>
        </form>


        <!--<table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Reminder</th>
              <th scope="col">Message</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reminders of reminderList">
              <th>{{reminders.reminderName}}</th>
              <td>{{reminders.reminderMessage}}</td>
              <td>{{reminders.reminderDate | date: 'dd MMM, yyyy hh:mm a'}}</td>
            </tr>
          </tbody>
        </table>-->
        <div class="row">
          <ng-container *ngIf="reminderList.length > 0;else notFound">
            <div class="col-md-4" *ngFor="let reminders of reminderList">
              <div class="card reminder-card">
                <div class="card-body">
                  <h5 class="card-title">{{reminders.reminderName}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{reminders.reminderDate | date: 'dd MMM, yyyy hh:mm a'}}</h6>
                  <p class="card-text">{{reminders.reminderMessage}}</p>
                  <!--<a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>-->
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #notFound>
  <p class="text-center">No reminder found.</p>
</ng-template>


